/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  font-family: 'Lato', sans-serif
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: center;
}

h1, h2 {
  font-weight: 300;
  font-size: 1.5em;
  text-transform: uppercase;
}

.navbar {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #fff;
  /* border-bottom: 1px solid #F2385A; */
  border-bottom: 2px solid #000;
}

.navbar a:hover, .navbar a:active, .navbar a {
  color: #000;
}

.navbar-brand {
  display: block;
  border: 4px solid #000;
  padding-left: 17px;
  padding-right: 10px;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.method {
  font-weight: 700;
}

.contact-nav-item {
  background-color: #F2385A;
  border-radius: 10px;
}

.contact-nav-item a {
  font-weight: bold;
  color: #fff;
  font-size: 1.2em;
}

.nav-link img {
  height: 30px;
  padding-bottom: 5px;
  margin-right: 10px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0,0,0)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.jumbotron {
  background-image: url("../img/jumbo.jpg");
  background-size: cover;
  min-height: 375px;
  position: relative;
}

.jumbotron .headers {
  background-color: rgba(242,36,70,0.8);
  display: inline-block;
  width: 600px;;
  position: absolute;
  bottom: 30%;
  left:0;
  right:0;
  margin: auto auto;
}

.jumbotron .divider {
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid #fff;
  width: 100px;
  height: 5px;
}

.jumbotron h1 {
  margin-top: 10px;
  font-weight: 300;
  font-size: 2em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.section {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap; 
}

.section > span {
  position: relative;
  display: inline-block;
}

.section > span:before,
.section > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background-color: #F2385A;
}

.section > span:before {
  right: 100%;
  margin-right: 15px;
}

.section > span:after {
  left: 100%;
  margin-left: 15px;
}

.section-overview {
  font-size: 1.1em;
}

.headshot {
  height: 200px;
  display: block;
  margin: auto;
  border: 2px solid #000;
  border-radius: 10px;
  margin-bottom: 10px;
}

.section-break {
  margin-bottom: 10px;
  margin-top: 20px;
}

.section-break.first {
  margin-top: 0px;
}

.service-header {
  height: 75px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

h4 {
  background-color: #666;
  border-radius: 50%;
  line-height: 150px;
  height: 150px;
  width: 150px;
  color: #fff;
  margin: 0 auto;
  font-size: 1.3em;
}

.process {
  margin-top: 10px;
}

.contact-link {
  display: block;
  font-size: 1.5em;
  background-color: #F2385A;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  width: 40%;
  margin: 0 auto;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  border: 1px solid #990000;
}

.contact-link:hover {
  color: #fff;
}

footer p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
}
